.navbar2 {
  

  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.4) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  .container2 {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    

    .left {
      display: flex;
      align-items: center;
      img {
        height: 35px;
        margin-right: 40px;
      }

    }
    
    span,
    a {
      margin-right: 20px;
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
    .right {
      display: flex;
      align-items: center;
      color: rgb(255, 255, 255);
      
      .icon {
        margin-right: 10px;
        cursor: pointer;
      }
      
      .profile {
      
        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
          margin-right: 10px;
        }
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 7px;
          padding-left: 5px;
        }
      

        a {
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
