.main {
    min-height: 110vh;
}

.list-container {
    
    
    .my-watclist {
        color: white;
        height: 20vh;
        margin-left: 0px;
        padding-top: 10vh;
        
    }
}


.album .card .listItem {
    /* width: 400px; */
    height: 225px;
}