.widget {
    height: 120px;
    display: flex;
    flex:1;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 2px -2px 36px -4px rgba(236, 230, 230, 0.53);
-webkit-box-shadow: 2px -2px 36px -4px rgba(229, 207, 207, 0.53);
-moz-box-shadow: 2px -2px 36px -4px rgba(225, 208, 208, 0.53);

.left,
 .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        font-weight: bold;
        font-size: 14px;
        color: gray;
    }

    .counter {
        font-size: 24px;
        font-weight: 400;
    }

    .link {
        font-size: 15px;
        border-bottom: 1px solid gray;
    }

    .percentage {
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .icon {
        font-style: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
        background-color: rgb(46, 42, 43);
    }
  }
}